﻿@model CustomersAndOrdersCC.Data.Models.CombinedModel
@{
    ViewData["Title"] = "CompletedOrder";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OrderCompleted</title>
</head>
<body>
    <p>Thank you for ordering. We hope to hear from you again.</p>
    <table class="table">
        <thead>
            <tr>


                <th>
                    @Html.DisplayNameFor(model => model.Oproduct.FirstOrDefault().Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Oproduct.FirstOrDefault().Quantity)
                </th>
                <th>
                    SubTotal
                </th>



            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Oproduct.Count(); ++i)
            {
                <tr>


                    <td>
                        @Html.DisplayFor(modelItem => Model.Oproduct[i].Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Oproduct[i].Quantity)
                    </td>
                    @{ var result = Model.Oproduct[i].Quantity * Model.Oproduct[i].Price;}
                    <td>
                        @result 
                    </td>



                </tr>
            }
        </tbody>
    </table>
    @{ var output = "Total Price : " + CommonFunctions.calculateTotalPrice(Model.Oproduct); }
    <br/>
    <p> @output  </p>
</body>
</html>

